<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Bootstrap.3/bootstrap.min.css">
    <link rel="stylesheet" href="Bootstrap.3/bootstrap.css">

    <link rel="stylesheet" href="Bootstrap.3/Kitchen.css">


    <title>Heavenly Bites!</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-default" id="header-nav">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="Kitchen" class="pull-left visible-md visible-lg">
                        <!-- <div id = "logo-img" alt="logo image"></div> -->
                    </a>
                    <div class="navbar-brand">
                        <a href='/'>
                            <h1>Heavenly Bites</h1>
                        </a>
                        <p>
                            <img src="images/star.jpg" alt="Kosher Certification">
                            <span>Kosher Certified</span>
                        </p>
                    </div>

                </div>
                <div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#collapsable-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="collapsable-nav" class="collapse navbar-collapse">
                    <ul id="nav-list" class="nav navbar-nav navbar-right">
                        <li class = "visible-xs">
                            <a href="Kitchen">
                              <span class= "glyphicon glyphicon-home"></span>Home
                            </a>
                          </li>
                        <li class="active">
                            <a href="menu-categories">
                                <span class="glyphicon glyphicon-cutlery"></span><br class="hidden-xs">Menu
                            </a>
                        </li>
                        <li>
                            <a href="About">
                                <span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs">About
                            </a>
                        </li>
                        <li>
                            <a href="Kitchen">
                                <span class="glyphicon glyphicon-certificate"></span><br class="hidden-xs">Awards
                            </a>
                        </li>
                        <li id="phone" class="hidden-xs">
                            <a href="tel:111-222-3333">
                                <span> 111-222-3333</span></a>
                            <div>* We Deliver</div>
                        </li>
                    </ul>
                </div>
            </div>
    </header>
    <div id="call-btn" class="visible xs">
        <a class="btn" href="tel: 111-222-3333">
            <span class="glyphicon glyphicon-earphone"></span>
            111-222-3333
        </a>
    </div>
    <div id="xs-deliver" class="text-center visible-xs">
        *We Deliver
    </div>
    <div id="main-content" class="container">
        <h2 id="menu-category-title" class="text-center">
            Lunch Menu</h2>
        <div class="text-center">
            Lunch won't be served until 12 pm.
        </div>
        <section class="row">
            <div class="menu-item-tile col-md-6">
                <div class="row">
                    <div class=col-sm-5>
                        <div class="menu-item-photo">
                            <div>D01</div>
                            <img class="img-responsive" width="250" height="150" src="images/Lunch1.jpg" alt="item">
                        </div>
                        <div class="menu-item-price"> $13.99<span>(pint)</span>
                            $15.99<span>(quart)</span></div>
                    </div>
                    <div class="menu-item-description col-sm-7">
                        <h3 class="menu-item-title">Big Fat Burger </h3>
                        <p class="menu-item-details">
                            The meat is cooked fresh daily and no frozen ingredient
                            is used. The burger will have some fresh tomatoes, meat of your choice, lettuce, cucumber and sauce 
                        of your choice. Every ingredient used is purely oragnic. The meat is cooked fresh daily and no frozen ingredient
                        is used. The burger will have some fresh tomatoes, meat of your choice, lettuce, cucumber and sauce 
                    of your choice. Every ingredient used is purely oragnic. The meat is cooked fresh daily and no frozen ingredient
                    is used. The burger will have some fresh tomatoes, meat of your choice, lettuce, cucumber and sauce 
                of your choice. Every ingredient used is purely oragnic</p>
                    </div>
                </div>
                <hr class="visible-xs">
                </div>
                <div class="menu-item-tile col-md-6">
                    <div class="row">
                        <div class=col-sm-5>
                            <div class="menu-item-photo">
                                <div>D02</div>
                                <img class="img-responsive" width="250" height="150" src="images/Lunch2.jpg" alt="item">
                            </div>
                            <div class="menu-item-price"> $12.99<span>(pint)</span>
                                $14.99<span>(quart)</span></div>
                        </div>
                        <div class="menu-item-description col-sm-7">
                            <h3 class="menu-item-title">Red Pasta </h3>
                            <p class="menu-item-details">
                                The healthy wheat pasta is used in all the recipes.</p>
                        </div>
                    </div>
                    <hr class="visible-xs">
                    </div>
                    <div class="clearfix visible-md-block visible-lg-block"></div>
                    <div class="menu-item-tile col-md-6">
                        <div class="row">
                            <div class=col-sm-5>
                                <div class="menu-item-photo">
                                    <div>D03</div>
                                    <img class="img-responsive" width="250" height="150" src="images/fried.jpg" alt="item">
                                </div>
                                <div class="menu-item-price"> $13.99<span>(pint)</span>
                                    $15.99<span>(quart)</span></div>
                            </div>
                            <div class="menu-item-description col-sm-7">
                                <h3 class="menu-item-title">French Fries </h3>
                                <p class="menu-item-details">
                                    The meat is cooked fresh daily and no frozen ingredient
                                    is used.</p>
                            </div>
                        </div>
                        <hr class="visible-xs">
                        </div>
                        <div class="menu-item-tile col-md-6">
                            <div class="row">
                                <div class=col-sm-5>
                                    <div class="menu-item-photo">
                                        <div>D04</div>
                                        <img class="img-responsive" width="250" height="150" src="images/orangechicken.jpg" alt="item">
                                    </div>
                                    <div class="menu-item-price"> $13.99<span>(pint)</span>
                                        $15.99<span>(quart)</span></div>
                                </div>
                                <div class="menu-item-description col-sm-7">
                                    <h3 class="menu-item-title">Orange Chicken </h3>
                                    <p class="menu-item-details">
                                        The meat is cooked fresh daily and no frozen ingredient
                                        is used.</p>
                                </div>
                            </div>
                            <hr class="visible-xs">
                            </div>
                            <div class="clearfix visible-md-block visible-lg-block"></div>
                            <div class="menu-item-tile col-md-6">
                                <div class="row">
                                    <div class=col-sm-5>
                                        <div class="menu-item-photo">
                                            <div>D05</div>
                                            <img class="img-responsive" width="250" height="150" src="images/chickenrice.webp" alt="item">
                                        </div>
                                        <div class="menu-item-price"> $13.99<span>(pint)</span>
                                            $15.99<span>(quart)</span></div>
                                    </div>
                                    <div class="menu-item-description col-sm-7">
                                        <h3 class="menu-item-title">Chicken Biryani </h3>
                                        <p class="menu-item-details">
                                            The meat is cooked fresh daily and no frozen ingredient
                                            is used.</p>
                                    </div>
                                </div>
                                <hr class="visible-xs">
                                </div>
                                <div class="menu-item-tile col-md-6">
                                    <div class="row">
                                        <div class=col-sm-5>
                                            <div class="menu-item-photo">
                                                <div>D06</div>
                                                <img class="img-responsive" width="250" height="150" src="images/noodles.jpg" alt="item">
                                            </div>
                                            <div class="menu-item-price"> $13.99<span>(pint)</span>
                                                $15.99<span>(quart)</span></div>
                                        </div>
                                        <div class="menu-item-description col-sm-7">
                                            <h3 class="menu-item-title">Noodles </h3>
                                            <p class="menu-item-details">
                                                The meat is cooked fresh daily and no frozen ingredient
                                                is used.</p>
                                        </div>
                                    </div>
                                    <hr class="visible-xs">
                                    </div>
                                    <div class="clearfix visible-md-block visible-lg-block"></div>
        </section>
    </div> <!-- end of main content -->
    <!-- Footer -->
    <footer class="panel-footer">
        <div class="container">
            <div class="row">
                <section id="hours" class="col-sm-4">
                    <span>Hours:</span><br>
                    Sun-Thurs: 10am to 10pm<br>
                    Fri-Sat: 9am to 11pm
                    <hr class="visible-xs">
                </section>
                <section id="address" class="col-sm-4">
                    <span> Address:</span><br>
                    3761 C, 3761 TN-109,<br>
                    Lebanon, TN 37087
                    <p> *Free Delivery within 5 miles
                        on minimum order of $30</p>
                    <hr class="visible-xs">
                </section>
                <section id="testimonials" class="col-sm-4">
                    <p> "This is one of the best place to eat and I would love to go back there"</p>
                    <p>"Best food with amazing services and friendly staff"</p>
                </section>
            </div>
            <div class="text-center">&copy; Copywright Heavenly Bites 2007</div>
        </div>
    </footer>


    <script src="Bootstrap.3/jquery-3.6.0.min.js"></script>
    <script src="Bootstrap.3/bootstrap.min.js"></script>
    <script src="Kitchen.js"></script>
</body>

</html>